<div class="menu">
  <h2>Países</h2>
  <ul>
    {{#each data}}
    <li>
      <img src="{{this.image}}" alt="">
      <div class="title">
        <p>{{this.country_name}}</p>
      </div>
    </li>
    {{/each}}
  </ul>
</div>
