<h2>Estaciones</h2>
<ul class="stations">
  {{#each data}}
  <li data-id="{{this.id}}">
    <img src="{{this.image}}" alt="">
    <div class="title">
      <p>{{this.station_name}}</p>
      <p class="city">{{this.city_name}}</p>
    </div>
    <img class="reaction" src="./images/like.svg" alt="">
  </li>
  {{/each}}
</ul>
