<h1>Ciudades</h1>
<div class="grid">
  {{#each data}}
  <div class="item">
    <div class="image">
      <img src="{{this.image}}" alt="">
    </div>
    <div class="title">{{this.city_name}}</div>
  </div>
  {{/each}}
</div>
<div class="menu">
  <h3>Países</h3>
  <ul>
    {{#each data}}
    <li>{{this.country_name}}</li>
    {{/each}}
  </ul>
</div>
