$grey-border = #e5e5e5

header
  width 100%
  position fixed
  top 0
  left 0
  z-index 2
  padding 16px

  nav
    ul
      list-style none
      padding 0

      &.top-menu
        display flex
        justify-content space-between
        padding 0

        li.open-menu
          cursor pointer

  .menu
    position fixed
    bottom -300px
    left 0
    height 300px
    background white
    transition all 0.3s
    width 100%
    overflow auto
    z-index 2
    padding 0

    &.in
      bottom 0px

    ul
      padding 0

      li
        display flex
        border-bottom 1px solid $grey-border
        padding 10px 16px
        font-size 13px

        img
          width 50px
          height 50px

          &.reaction
            width 20px
            height 20px
