nav
  ul
    list-style none

    &.top-menu
      display flex
      justify-content space-between
      padding 0

      li.open-menu
        cursor pointer

.menu
  position fixed
  bottom -300px
  left 0
  height 300px
  background white
  transition all 0.3s
  width 100%
  overflow auto

  &.in
    bottom 0px
