nav
  ul
    display flex
    list-style none
    justify-content space-between
    padding 0

    li.open-menu
      cursor pointer

.menu
  position fixed
  bottom -300px
  left 0
  height 300px
  background white
  transition all 0.3s

  &.in
    bottom 0px
