@import './components/menu/style.styl'
@import './components/front_grid/style.styl'
@import './components/map/style.styl'


$grey-title = #929292

*
  box-sizing border-box

body
  margin 0
  font-family 'Merriweather', serif

  h1, h2
    font-size 14px
    color $grey-title
    text-align center
