@font-face {
	font-family: "iconfont";
	src: url('../../app/fonts/iconfont.eot');
	src: url('../../app/fonts/iconfont.eot?#iefix') format('eot'),
		url('../../app/fonts/iconfont.woff2') format('woff2'),
		url('../../app/fonts/iconfont.woff') format('woff'),
		url('../../app/fonts/iconfont.ttf') format('truetype'),
		url('../../app/fonts/iconfont.svg#iconfont') format('svg');
}

.icons:before {
	font-family: "iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icons-ico-filter:before {
	content: "\E001";
}

.icons-like:before {
	content: "\E002";
}

.icons-nube:before {
	content: "\E003";
}
